
body{
    background-color: #0F173B;
    color: white;
}
.landing{
    height: 100vh;
    
}
.backToPosts{
    
    top: 1%;
    left: 1%;
    font-size: 200%;
    display: flex;
    position: absolute;

}
.backToPosts a{
    color: white;
}

.banner{
    display: block;
  
}
.banner img{
    width: 100%;
    height: auto;
}

.title{
    margin-top: 5vh;
    text-align: center;
    color: #3679B0;
    
}

.meta{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 0% 30%;
}
.content{
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}
md-block pre{
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    border-radius: 2%;
    background-color: #28282e;
}
md-block img{
    max-width: 100%;
    height: auto;
    float: left;
    padding: 2% 2% 2% 2%;
    
}
md-block p{
    display: inline;
}

.footer{
    height: 10vh;
    padding: 2.5% 25% 2.5% 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.footer a{
    color: white;
    text-decoration: none;
}
@media (max-width: 900px){
    .landing{
        height: 50vh;
    }
    .backToPosts{
        font-size: 100%;
    }
    .content{
        width: 80%;
        margin-left: 10%;
        text-align: justify;
    }
}