*{
    color: #EBCDCD;
    font-family: monospace;
}
body{
    background-color: #141010;
    
}

.box{
    margin-top: 12.5vh;
}
.profilePicture {
    text-align: center;
}
.profilePicture img{

    border-radius: 100%;
    width: 5%;
    height: auto;
    transition: 1s;
}
.mainTitle{
    text-align: center;
    
}

.socials{
    text-align: center;
}
.socials a{
    color: black;
}
.socials a:hover{
    color: rgb(46, 46, 46);
}
.blog{
    text-align: left;
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
}
.blog .blogTitles h3{
    color: #C67171;
}
.box a{
    color: black;
    text-decoration: none;
    transition: transform .2s;

}
.box a:hover, .box:hover{
    color: black;
}
.blogDesc p{
    text-align: justify;
}

.meta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    
}
.blogThumbnail img{
    max-width: 100%;
    height: auto;
}
.footer{
    height: 10vh;
    padding: 2.5% 25% 2.5% 25%;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.footer a{
    color: #EBCDCD;
    text-decoration: none;
}
@media (max-width: 900px) {
    .box{
        margin-top: 7.5vh;
    }
    .profilePicture img{

        border-radius: 100%;
        width: 25%;
        height: auto;
        transition: 1s;
    }
    .blog{
        position: relative;
        text-align: left;
        margin-left: 10%;
        width: 80%;
        height: 10%;
        margin-top: 2%;
    }
}


